<h3>Manage Orders</h3>
<table class="table table-striped table-bordered table-condensed">
	<head>
		<tr><th>Order No</th>
			<th>Order Date</th>
			<th>Full Name</th>
			<th>Status</th>
			<th>Total Price</th>
			<th width="20%">Actions</th>
			
		</tr>
	</thead>
	<tbody>
	<% for order in @orders %>
		<tr>
			<td><%= order.order_no %></td>
			<td><%= order.order_date %></td>
			<td><%= order.customer.presentation_name %></td>
			<td><%= order.order_status %></td>
			<td><%= format_money order.total_price %></td>
			<td><%= link_to "Order Details", :controller => :admin_orders, :action => :order_details, :id => order %>
	| <%= link_to "Process Order", :controller => :admin_orders, :action => :process_order, :id => order %></td>

	</tr>
	<% end %>
	<tbody>
</table>